<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88287548324-gruak4d8r5h2a9aoaovp7rvs65dcf9h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88287548324-gruak4d8r5h2a9aoaovp7rvs65dcf9h8</string>
	<key>API_KEY</key>
	<string>Google API key here</string>
	<key>GCM_SENDER_ID</key>
	<string>88287548324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knob.webviewtemplateswiftui</string>
	<key>PROJECT_ID</key>
	<string>chat-app-88775</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-88775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:88287548324:ios:caf80e67f088b25dc86731</string>
</dict>
</plist>
